.album-card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.album-card__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
}

.album-card__info {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  gap: 0.5rem;
  align-items: end;
  padding: 1rem;
  background: linear-gradient(to top, black, transparent);
  color: white;
  border: none;
}

.album-card__info h2 {
  margin: 0;
}
