.songlist {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding-block: 0.5rem;
}

.songlist__song {
  padding: 0.4rem 1rem;
  display: grid;
  grid-template-columns: 32px 1fr auto;
  gap: 0.25rem;
}

.songlist__song:hover {
  background-color: hsl(0deg 0% 100% / 0.07);
}
